body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    margin-top: 10px;
    border-radius: 5px;
}

p {
    margin-top: 20px;
}

a {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
